
 body{ 
            background-color: black;           
 }
 table{ color:white;
 }  
 p{
           text-align: center; 
 }
 h1    { text-align: center; 
           color: #00ff00;
 }
 a      { background-color:yellow;
 }
div   {  margin: auto;
           width: 50%;         
           display: table-cell;vertical-align: middle;
           text-align: center;
           background-color:blue;
           font-size:12px;
           color: rgb(0,255,255) 
 }        
table{
          margin: auto;
          width: 5%;      
}