* {
    margin: 0;
    padding: 0;
}
body {
  background-color : rgb(200,250,250) ;
  height: 5000px;
}

img {
  width: 150px;
  height: 200px;
}

div {
    width: 100% ;
    text-align: center ;
    height:50px ;
   }

   h1{
    text-align: center ;
    color : red ;
    background-color : yellow ;
    height: 75px ;
    line-height : 85px ;
    /*display: block ;*/
   }
   a:hover {
       background-color : red ;
   }
   /* button {
       width: 2600px ;
       margin: 0 auto;
   } */

.stu-photo {
    width: 700px;
    margin: auto;
    text-align: center;
}

.stu-photo1 {
  width: 550px;
  margin: auto;
  text-align: center;
}

.photo {
    float: left;
    margin: 10px 10px;
    width: 150px;
    height: 200px;
    box-shadow: 0 2px 2px black;
}

/* 容器 <div> - 需要放置下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* 下拉内容（默认隐藏） */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 200px;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* 下拉链接 */
  .dropdown-content a {
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
  }
    
  /* 悬停时显示下拉菜单 */
  .dropdown:hover .dropdown-content {
    display: block;
  }