@charset "utf-8";
/* CSS Document */
body{
	background-color:#e8e4c1}
.a{
		position:relative;
		perspective: 1600px;
		top: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
    }
.b{
        width: 400px;
        height: 250px;
        position: absolute;
        transform-style: preserve-3d;
        animation: a 8s infinite cubic-bezier(.7,0,.17,1);
        }
.b div{
		position: absolute;
		background-size: cover;
		opacity: 0.9;
		width: 400px;
		height: 250px;
		transform: rotateY(calc(var(--i)*120deg)) translateZ(600px);
		}
		@keyframes a{
		    0%{
		        transform: translateZ(-100px) rotateY(0);
		            }
		    33%{
		        transform: translateZ(-100px) rotateY(-120deg);
		            }
		    66%{
		        transform: translateZ(-100px) rotateY(-240deg);
		            }
		    100%{
		        transform: translateZ(-100px) rotateY(-360deg);
		            }
		        }
.c{
		background-image: url(../images-banner/banner4.jpg)  
	}
.d{
		background-image: url(../images-banner/banner5.jpg)
	}
.e{
		background-image: url(../images-banner/banner6.jpg)
	}
.zt{
	height:1000px;
	margin-top:450px;
	width:100%;}
.zt h1{
	text-align:center;}
.zt p{
	line-height:40px;
	letter-spacing:5px;}
.zt1{
	margin-left:25%;
	height:350px;
	width:50%;
	}
.zt1 img{
	float:left;
	width:50%;
	height:50%;}
.zt1 img:hover{
	transform:scale(1.5,1.5);}
.zt2{
	text-align:center;}
*{
	font-family: 黑体;
}

