li{
	text-align: center;
	float: left;
	list-style-type: none;
	width: 20%;
	background-color: lightpink;
	line-height: 40px;
}
.nav{
	width: 1200px;
}
.nav a{
	color: black;
	text-decoration: none;
}
.a {
	width: 100%;
	margin-top: 20px;
	background-color: cyan;
}
.a div{
	width: 100%;
	border: 5px solid rgb(150,255,225);
	margin-top: 30px;
}
body{
    background-color: cadetblue;
	background-repeat: no-repeat;
	background-size: cover;
}
