      * {
        padding: 0;
        margin: 0; 
        background: pink;
      }
      .nav{
      	width: 1200px;
      }
      .nav a{
      	color: black;
	    text-decoration: none;
		background-color: palevioletred;
      }
  div {
        text-align: center;
      }
       li{
	float: left;
	list-style-type: none;
	width: 20%;
	background-color:palevioletred;
	line-height: 40px;
    }
          #dg img{
      	width: 1200px;
      	height: 300px;
      }
      table{
      	border:1px solid cyan;
      	width: 1200px;
      	height: 100px;
      	background-color:whitesmoke;
      	color: saddlebrown;
      	}
      	table img{
      		width: 300px;
      		height: 200px;
      	}
      	td{
      		text-align: center;
      	}
      	     h1{
      	text-align: center;
      	color: salmon;
      	}
