*{
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

a{
    text-decoration: none;
    color: #999;
}

.main{
    line-height: 1.5;
}

.main .nav{
    height: 60px;
    background: #47464a;
    text-align: center;
    line-height: 60px;
}

.main .nav a{
    margin: 0 38px;
}

.main .nav a:hover{
    color: #fff;
}

.main .nav a.select{
    color: #ef4238;
}

.main .container{
    width: 1120px;
    margin: 0 auto;
    /* background: red; */
}

.main .container .choose-area{
    margin: 40px 0;
    border: 1px solid #e5e5e5;
}

.main .container .choose-area .choose-item .left{
    float: left;
}

.main .container .choose-area .choose-item .right{
    float: right;
}

li{
    list-style: none;
}