* {
    margin: 0;
    padding: 0;

}

body {
    background-color :beige;

}

#biaoti h1 {
    color: rgb(143, 133, 137);
    font-size: 40px;
    top: 0;
    font-family: 'Arial black';
    text-shadow: 3px 3px rgb(231, 160, 109);
    text-align: center;
}

#biaoti img{
    float:left;
}

li {
    line-height: 40px;
    float: left;
    width: 16.667%;
    text-align: center;
    font-size: 10px;
    background-color: rgb(250, 244, 118);
    list-style-type: none;

}

#content {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

#nav a {
    color: rgb(139, 187, 233);
    text-decoration: none;
}
#nav a:hover{
    color: coral;
    text-shadow: 1px 2px white;
}
#background{
    padding: 20px;
    border: 2px solid rgb(250, 250, 245);
    border-style: dashed;
    background-color: rgba(239, 231, 141, 0.605);
    border-radius: 20px;
    
 }
 #background h2{
     font-size: 30px;
     background-color: rgb(241, 174, 72);
     border-radius: 10px;
     padding: 10px;
     width: 150px;
     height: 40px;
     color: white;
     margin-top: 30px;
 }
 #background p{
     font-size: 15px;
 }
 #k{
    margin-top: 20px;
     background-color: rgb(249, 203, 228);
     border-radius: 20px;
 }
 
 #k h1{
    color: rgb(220, 108, 108);
    font-size: 50px;
    text-align: center;
    font-family: 'Bauhaus 93';
    text-shadow: 3px 3px rgb(90, 179, 208);
 }
 .chara h2{
    color: deeppink;
    font-size: 30px;
 }
 .chara img{
    border: 5px solid rgb(248, 248, 195);
    border-radius: 100%;
    width: 30%;
 }
 .chara img:hover{
    border: 5px solid rgb(235, 183, 52);
 }
 .chara{
    display: inline-block;
    width: 42%;
    margin: 20px;
 }
 .chara p{
    font-size: 15px;
    font-family: 黑体;
 }
#introduce{
    margin-top: 30px;
    background-color: rgb(245, 216, 180);
    border-radius: 20px;
}
#introduce img{
    width: 90%;
}
#introduce p{
    font-size: 20px;
}
#introduce h2{
    color:aqua;
    font-size: 30px;
}
.intro_{
    display: inline-block;
    font-size: 10px;
    width: 29%;
    padding: 5px;
}
#down {
    text-align: center;
    background-color:  rgb(250, 244, 118);
    font-size: 15px;
    margin-top: 20px;
    height: 75px;
    line-height: 35px;
}