*{
    margin:0;
    padding:0;
    border:0;
}
body{background:url("img/米哈游logo.jpg"); 
    background-size: cover;}
#header1 img{text-align:left;
        width:10% ;
        position:relative;
        top:4em;
        left:6em;
        display:inline;
            }       
#header2{position:relative;
    bottom:2em;
    left:50%;
    display:inline; 
       
}
#header2 form{display:inline;}
