* {
        padding: 0;
        margin: 0; 
        background: pink;
      }
      .rw{
      	width: 300px;
      	height: 450px;
      	border-style: double;
      	padding: 20px;
      	border-color: lightcoral;
      	float: left;
      	margin-right: 80px;
      }
      .rw img{
        width: 300px;
        height: 300px;

      }
      .rw span{
      	display: block;
      	font-size: 20px;
      	color: #FF7F50;
      }
  div {
        text-align: center;
      }
      h1{
      	text-align: left;
      	color: salmon;
      }
      #dg img{
      	width: 1200px;
      	height: 300px;
      }
           li{
	float: left;
	list-style-type: none;
	width: 20%;
	background-color: palevioletred;
	line-height: 40px;
    }
      .nav{
      	width: 1200px;
      }
      .nav a{
      	color: black;
	    text-decoration: none;
		background-color: palevioletred;
      }
 
