* {
    margin: 0;
    padding: 0;

}

body {
    background-color :beige;

}

#biaoti h1 {
    color: rgb(143, 133, 137);
    font-size: 40px;
    top: 0;
    font-family: 'Arial black';
    text-shadow: 3px 3px rgb(231, 160, 109);
    text-align: center;
}
li {
    line-height: 40px;
    float: left;
    width: 16.667%;
    text-align: center;
    font-size: 10px;
    background-color: rgb(250, 244, 118);
    list-style-type: none;

}

#content {
    width: 90%;
    margin: 0 auto;
    background-color: white;
}

.sy a {
    color: rgb(139, 187, 233);
    text-decoration: none;
}
.sy a:hover{
    color: coral;
    text-shadow: 1px 2px white;
}#background{
    padding: 20px;
    border: 2px solid rgb(250, 250, 245);
    border-style: dashed;
    background-color: rgba(239, 231, 141, 0.605);
    border-radius: 20px;
    
 }
 #background h2{
     font-size: 30px;
     background-color: rgb(241, 174, 72);
     border-radius: 10px;
     padding: 10px;
     width: 150px;
     height: 40px;
     color: white;
     margin-top: 30px;
 }
 #background p{
     font-size: 15px;
 }
    #one{
      background-color: #505050;
      height:900px;
    }
    .nav{
      background-color: #F5F5DC;
      width:45%;
    height: 15%;
    box-shadow:0 30px 50px #505050;
    border-radius:30px;
    float: left;
    margin: 30px;
    }
  .rw{
    font-size:50px;
    font-family:幼圆;
    color: #000000;
    text-align:left;
    padding: 30px;
    height: 100%;
    float: left;
    }
  .rw_{
    font-size:30px;
    font-family:幼圆;
    background-color: #000000;
    color:rgb(255,250,240);
    border-radius:30px;
    box-shadow:0 10px 20px #505050;
    text-align:center;
    height: 70%;
    width: 40%;
    padding:20px;
  float: right;  
  }
  #b{
    background-color: #F5F5DC;
    font-size:50px;
    font-size:幼圆;
    color: chocolate;
    border-radius:30px;
    box-shadow:0 30px 50px  black;
    text-align:center;
    width:30%;
    }
  .k{
    font-size:35px;
    font-size:幼圆;
    margin-top:50px;
    margin:30px;
    padding:20px;
    background-color: #F5F5DC;
    color: chocolate;
    border-radius:30px;
    box-shadow:0 30px 50px #505050;
    text-align:center;
    width: 50%;
    }
  #b img{
    float:right;
    
    }
    #a{
      background-color: #505050;
      padding: 50px;
      margin-top:630px;
    }
  #down{
  	text-align: center;
    font-size:30px;
    color: lavenderblush
    }
