*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: red;
}
.content{
    padding-top: 10px;
    padding-bottom: 20px;
    background: linear-gradient( bottom,rgb(235, 105, 5),rgb(195, 45, 5));
}
.content>div{
    height: 45px;
    width: 150px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 45px;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 8px;
    color: brown;
    font-weight: 700;
    transform: skewX(-8deg);
    box-shadow: 2px 1px 15px 1px black;
    background-color: rgb(240, 215, 155);
}
.content ul{
    display: flex;
    height: 130px;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.content ul li{
    width: 40%;
    margin-right: 20px;
    margin-top: 10px;
    line-height: 30px;
    height: 30px;
}
.content li .one{
    height: 30px;
    width: 75px;
    float: left;
    border-radius: 8px;
    color: white;
    font-weight: 700;   
    transform: skewX(-8deg);
    background-color: orange;
    box-shadow: 1px 0.1px 10px 0.5px black;

}
.content li .click{
    height: 30px;
    width: 150px;
    transform: skewX(-8deg);
    border-radius: 8px;
    color: red;
    font-weight: 700;
    background-color: rgb(255, 175, 0);
    box-shadow: 1px 0.1px 10px 0.5px black;
}
.content li div span{
    font-size: 15px;
    right: -20px;
    position: relative;
}
.content img{
    width: 90%;
    right: -15px;
    transform: skewX(-2deg);
    border-radius: 8px;
    position: relative;
}
.bottom{
    position: relative;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgb(255, 175, 0);
}
.bottom>div{
    height: 45px;
    background-color: orange;
    width: 150px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    transform: skewX(-8deg);
    border-radius: 8px;
    box-shadow: 2px 1px 10px 0.5px rgb(69, 69, 69);
    color: white;
    font-weight: 700;
}
.bottom li div{
    display: inline-block;
    transform: skewX(-8deg);
    border-radius: 8px;
    box-shadow: 2px 1px 10px 0.5px rgb(69, 69, 69);
    background-color: orange;
    color: brown;
    font-weight: 700;
}
.bottom li{
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    transform: skewX(-8deg);
    position: relative;
    right: -10px;
    font-size: 15px;
}
.bottom ul img{
    height: 70%;
    width: 35%;
    position: absolute;
    right: 5px;
    bottom: 20px;
    border-radius: 8px;
    box-shadow: 2px 1px 10px 0.5px rgb(69, 69, 6);
}
.buttom{
    width: 100%;
    height: 80px;
    background: linear-gradient( rgb(119, 57, 6),rgb(209, 119, 15));
}
.buttom .one{
    float: left;
}
.buttom .click{
    float: right;
    width: 50%;
    height: 80%;
    line-height: 60px;
    text-align: center;
    background: radial-gradient(top,rgb(221, 255, 0),rgb(194, 235, 148));
    border-radius: 40px;
    box-shadow: 2px 1px 10px 0.5px black;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 25px;
    font-weight: 700;
}
.buttom .one{
    font-size: 25px;
    width: calc(50% - 20px);
    float: left;
    text-align: center;
    margin-top: 10px;
}
.content li .one:hover{
    background-color: rgba(0, 0, 0, 0.5);
    background-color: red;
    color: black;
    transition-duration: 1s;
    width: 60px;
}
.click:hover{
    background-color: rgba(0, 0, 0, 0.5);
    background-color: red;
    color: black;
    transition-duration: 1s;
    width: 380px;
}
.bottom ul li div:hover{
    transition-duration: 1s;
    background-color: rgba(164, 0, 0, 0.5);
    color: black;
    width: 400px;
    text-align: center;
}