* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;
    margin: 30px auto;
    /* background-color: pink; */
}

.logo {
    float: left;
    width: 200px;
    height: 42px;
    /* background-color: purple; */
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 42px;
    /* 导航栏不方便设置宽度，可以设置外边距将其撑开 */
    padding: 0 10px;
    margin: 0 25px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    color: #00a4ff;
    border-bottom: #00a4ff solid 2px;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
}

.search input {
    float: left;
    width: 345px;
    /* 边框会把盒子撑大，设置时减去上下边框像素 */
    height: 40px;
    /* 外边距会把盒子撑大，在宽度中减去对应值 */
    padding-left: 15px;
    border: #00a4ff 1px solid;
    border-right:none ;
    color: #bfbfbf;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    border: 0;
}

.user {
    float: right;
    padding-right: 120px;
}

.banner {
    height: 422px;
    background-color: #1c036c;
}

.banner .w {
    height: 422px;
    background: url(images/banner2.png) no-repeat top center;
}

.banner .subnav {
    float: left;
    width: 192px;
    height: 422px;
    background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 43px;
    line-height: 43px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: #fff;
}

.course h1 {
    height: 50px;
    font-size: 18px;
    color: #ffffff;
    background-color: #9bceea;
    text-align: center;
    line-height: 50px;
}

.course .bd {
    padding: 0 20px;
}

.course .bd ul li {
    padding: 15px 0;
    border-bottom:1px solid #acacac ;
}

.course .bd ul li h4 {
    font-size: 14px;
    color: #4e4e4e;
}

.course .bd ul li p {
    font-size: 12px;
    color: #acacac;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px soild #00a4ff;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16pxs;
    font-weight: 700px ;
}

.goods {
    height: 60px;
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.1);
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 35px;
    color: #00a4ff;
    font-size: 16px;
}

.goods ul {
    float: left;
    margin-left: 35px;
}

.goods ul li {
    float: left;
    
}

.goods ul li a {
    padding: 0 38px;
    font-size: 16px;
    color: #454545;
    border-left: 1px solid #454545;
}

.goods .mod {
    float: right;
    margin-right: 20px;
    color: #00a4ff;
    font-size: 14px;
}