*{
    padding: 0;
    margin: 0;
}
#a1{
    background-color: rgb(235, 85, 16);
    padding-top: 20px;
    padding-bottom: 3px;
}
.st{
    text-align: center;
}
#a11{
    background-color: rgb(242, 225, 168);
    width: 200px;
    margin: auto;
    margin-bottom: 2em;
    border: 1px solid rgb(242, 225, 168);
    border-radius: 30%;
    color: rgb(189, 61, 7);
}
.b11{
    background-color: rgba(244, 149, 6, 0.815);
    /* padding: auto 20px; */
    width: 100px;
    /* margin: auto; */
    border: 1px solid rgb(244, 149, 6,0.815);
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    left:0;
    text-align: center;
}
.b12{
    background-color:rgb(242, 225, 168);
    /* margin: auto; */
    border: 1px solid rgb(242, 225, 168);
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    left: 33%;
    width: 150px;
    text-align: right;
    margin: 5px;
}
.b13{
    background-color: rgba(244, 149, 6, 0.815);
    width: 100px;
    border: 1px solid rgb(244, 149, 6,0.815);
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    left:0;
    text-align: center;
}
.b14{
    background-color:rgb(242, 225, 168);
    border: 1px solid rgb(242, 225, 168);
    border-radius: 20px;
    font-size: 20px;
    position: absolute;
    right: 33%;
    width: 150px;
    text-align: right;
    margin: 5px;
}
img.q1{
    border-radius: 20px;
    height: 300px;
}
#a2{
    background-color: rgb(242, 225, 168);
    padding-top: 20px;
    padding-bottom: 3px;
    float: left;
}
#a12{
    background-color: rgb(189, 61, 7);
    width: 200px;
    margin: auto;
    margin-bottom: 2em;
    border: 1px solid rgb(189, 61, 7);
    border-radius: 30%;
    color:rgb(242, 225, 168);
    text-align: center;
}
.b2{
    font-size: 25px;
    border: 1px solid rgb(209, 182, 92);
    background-color:  rgb(209, 182, 92);
    color: rgb(222, 60, 60);
    border-radius: 10px;
    margin: 3%;
    width:50%;
    float: left;
}
img.q2{
    border-radius: 20px;
    float: right;
    width: 30%;
    height: auto;
    position: absolute;
    right: 10%;
}
#a3{
    /* float: left; */
    width: 100%;
    background-color: rgb(189, 61, 7);
}
#a3 div{
    text-align: center;
    width: 40%;
}
.b32{
    color: red;
    font-size: 2em;
}
#box{
    float: right;
    width: 50%;
    position:relative;
    top: -70px;
    border: 2px solid rgb(242, 225, 168);
    background-color: rgb(242, 225, 168);
    width: 20%;
    border-radius: 10px;
}