* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #70f3ff;
}

a {
    text-decoration: none;
    color: black;
}

/* 导航栏start */
ul.shell {
    margin-top: 5%;
    height: 65px;
    background-color: skyblue;
}

li.button {
    float: left;
    position: relative;
    width: calc(100% / 5);
    height: 65px;
    line-height: 65px;
    text-align: center;
    transition: all .5s;
    cursor: pointer;
}

li.button:hover {
    width: calc(100% / 6);
    box-shadow: 5px 5px 5px black;
    border-radius: 50px;
    background-color: yellow;
}

li.button li:hover {
    background-color: #9d2932;
}

li.button ul li {
    height: 0;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(-65px);
    background-color: red;
}

li.button:hover li {
    height: 65px;
    opacity: 1;
    transform: translateY(0px);
    border-radius: 50px;
    margin-top: 5px;
    box-shadow: -5px 3px 5px black;
}

li.photo {
    float: left;
    width: calc(100% / 5);
    text-align: center;
    cursor: pointer;
}

li.photo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid white;
    transform: translateY(-25px);
}

li.photo ul {
    background-color: #177cb0;
}

li.photo ul li {
    color: #ff461f;
    margin-top: 5px;
}

/* 导航栏end */

div.window_video {
    text-align: center;
    
}

iframe {
    width: 80%;
    height: 700px;
    margin-top: 50px;
    border: medium solid gray;
}

/* 底部strat */
footer {
    width: 85%;
    margin: auto;
    margin-top: 30px;
    background-color: black;
    text-align: center;
    border-radius: 50px;
    box-shadow: 3px -3px 3px white;
}

footer p {
    padding: 20px;
    color: white;
}

footer nav {
    width: 80%;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

footer nav a {
    padding-left: 15px;
    text-decoration: none;
    color: white;
}

footer p:hover {
    cursor: pointer;
}
/* 底部end */







