*{
    margin:0;
    padding:0;
    }
    body{
      background-color: #505050;
      width: 100%;
      height: 50%;
    }
  #title{
    font-size:30px;
    font-family:幼圆;
    background-color: #F5F5DC;
    color: black;
    border-radius:30px;
    box-shadow:0 30px 50px #505050;
    text-align:center;
    border: solid 1px burlywood;
    width:30%;
    height: 50px;
    line-height: 50px;
    margin:20px;
   }
    #one{
      background-color: #505050;
      height:900px;
    }
    .nav{
      background-color: #F5F5DC;
      width:45%;
    height: 15%;
    box-shadow:0 30px 50px #505050;
    border-radius:30px;
    float: left;
    margin: 30px;
    }
  .rw{
    font-size:50px;
    font-family:幼圆;
    color: #000000;
    text-align:left;
    padding: 30px;
    height: 100%;
    float: left;
    }
  .rw_{
    font-size:30px;
    font-family:幼圆;
    background-color: #000000;
    color:rgb(255,250,240);
    border-radius:30px;
    box-shadow:0 10px 20px #505050;
    text-align:center;
    height: 70%;
    width: 40%;
    padding:20px;
  float: right;  
  }
  #b{
    background-color: #F5F5DC;
    font-size:50px;
    font-size:幼圆;
    color: chocolate;
    border-radius:30px;
    box-shadow:0 30px 50px  black;
    text-align:center;
    width:30%;
    }
  .k{
    font-size:35px;
    font-size:幼圆;
    margin-top:50px;
    margin:30px;
    padding:20px;
    background-color: #F5F5DC;
    color: chocolate;
    border-radius:30px;
    box-shadow:0 30px 50px #505050;
    text-align:center;
    width: 50%;
    }
  #b img{
    float:right;
    
    }
    #a{
      background-color: #505050;
      padding: 50px;
      margin-top:630px;
    }
  #down{
  	text-align: center;
    font-size:30px;
    color: lavenderblush
    }
